@use "../../scss/index.scss" as *;

.sidebar-wrapper {
  @include flex(center, center);
  flex-direction: column;
}
.sidebar-container {
  min-height: calc(100vh - var(--header-height));
  background-color: var(--primary-bg-color);
  width: 100%;
  position: relative;
  display: flex;
}
.sidebar-content {
  @include flex(center, center);
  flex: 1;
}
