@use "../../scss/index.scss" as *;

.wrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.header {
  @include flex(center, space-between);
  width: 1000px;
  margin-bottom: 30px;
}
.headerLeft {
}
.headerlabel {
  color: var(--gray-2);
  font-weight: 600;
}
.headerBalance {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.headerRight {
  background-color: rgba($color: #1f75fe, $alpha: 0.8);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 6px;
  font-weight: 600;
  transition: all ease 0.2s;
  &:hover {
    background-color: rgba($color: #1f75fe, $alpha: 1);
  }
}

.body {
  width: 1000px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--bg-header);
  min-height: 430px;
  height: 430px;
  overflow-y: scroll;
  position: relative;
}
.topBody {
  @include flex(center, space-between);
  color: white;
  position: sticky;
  top: 0;
  padding: 30px;

  background-color: var(--bg-header);
}
.assets {
  font-size: 20px;
  font-weight: 700;
}
.filter {
  @include flex(center, center);
  border: 1px solid var(--gray-4);
  border-radius: 50px;
  overflow: hidden;
}
.label {
  padding: 4px 10px;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-radius: 50px;
  }
  &.active {
    border-radius: 50px;
    background-color: #1f75fe;
  }
}

.table {
  overflow-y: scroll;
  padding: 20px;
  padding-top: 0;
}
.tableHeader {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  grid-template-columns: 3fr repeat(2, 1fr);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-2);
}
.tokenLable {
  font-size: 14px;
  color: var(--gray-4);
  font-weight: 600;
}

.tableBody {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  grid-template-columns: 3fr repeat(2, 1fr);
  border-bottom: 1px solid var(--gray-2);
  padding: 4px 8px;
  transition: all ease 0.2s;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
}
.tokenContent {
  @include flex(center, flex-start);

  img {
    @include imageBorder(30px, 30px);
  }
}
.token {
  margin-left: 8px;
}
.tokenName {
  color: var(--gray-2);
}
.tokenLabel {
  font-weight: 600;
  font-size: 18px;
}
.transactionContent {
  color: var(--pink);
  font-size: 16px;
}
.tokenPrice {
  font-size: 14px;
}
.tokenBalance {
}
